{:deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["user"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12" :exclusions [org.clojure/clojurescript]}}}
           :test {:extra-paths ["test"]}
           :project/test-clj {:main-opts ["-m" "cognitect.test-runner"]
                              :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}}
           :project/test-cljs {:main-opts ["-m" "cljs-test-runner.main"]
                               :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}}
           ;; --------------------------- Build/Deploy Tasks ----------------------------
           ;; Bump the version by a patch and generate a corresponding pom file with the groupId "com.hapgood"
           ;; $ clojure -M:project/pom patch -t IncrementType
           :project/pom {:main-opts ["-m" "garamond.main" "--group-id" "com.hapgood" "--artifact-id" "zipii" "--scm-url" "https://github.com/cch1/zipii" "-p"]
                         ;; because we don't need the project's dependencies loaded
                         :replace-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}
           ;; $ clojure -X:project/jar
           :project/jar {:replace-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                         :exec-fn    hf.depstar/jar
                         :exec-args  {:jar "zipii.jar" :verbose true}}
           ;; Test a local install with:
           ;; $ clojure -X:project/install
           ;; :project/install {:replace-deps {org.clojure/tools.deps.alpha {:mvn/version "0.9.816"}
           ;;                                  org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}
           ;;                   :ns-default clojure.tools.cli.api
           ;;                   :exec-fn clojure.tools.cli.api/mvn-install
           ;;                   ;; pom arg required due to a bug: https://clojure.atlassian.net/browse/TDEPS-169
           ;;                   :exec-args {:pom "pom.xml" :jar "zipii.jar"}}
           ;; ALTERNATE: locally install a the jar locally
           :project/install {:main-opts ["-m" "deps-deploy.deps-deploy" "install" "zipii.jar" false]
                             :replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}
                                            org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}}

           ;; Next, push code (and tags) to github to ensure they are available when cljdocs goes to find articles.
           ;; And then, only after the tagged commit is on GitHub:
           ;; $ env CLOJARS_USERNAME=cch1 CLOJARS_PASSWORD=<redacted> clojure -X:project/deploy :pom-file <pom> :artifact <jar>
           :project/deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                            :exec-fn deps-deploy.deps-deploy/deploy
                            :exec-args {:installer :remote
                                        :sign-releases? false}}}}
